<div class="container" id="home-container">
<br><br>
  <h1>Welcome to WhereToFuckingDance.com!</h1>
  <br><br>


    <a class="home-button-red" href="/events">Find your next dance event!</a>
    <br><br>
    <a class="home-button" href="/suggest_event">Add an event!</a>
    <br><br>
    <a class="home-button" href="/suggest_artist">Add an artist!</a>
    <br><br>
    <a class="home-button-orange" href="/signup">Create a free account!</a>
    <br><br>
    

   <div class="btn btn-outline-primary gap-2">
  <%= link_to 'Create a free account', signup_path %>
    </div>
    <br><br>
    <div class="btn btn-outline-primary gap-2">
   <%= link_to 'View Artists', artists_path %>
    </div>
    <br><br>
    <div class="btn btn-outline-primary gap-2">
  <%= link_to 'Events listing', events_path %>
    </div>
    <br><br>
</div>
</div>
</div>